.page-button-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80vw;
  padding: 10px;
}

/* define stuff for the page button itself */
.pagebutton {
  flex: 1;
  border: solid grey 3px;
  padding: 10px;
  width: 50%;
  min-width: 40%;
  margin-left: 2%;
  margin-bottom: 2%;
}

.pagebutton a {
  display: block;
  width: 100%;
  height: 100%;
  color: blue;
  text-decoration: none;
  white-space: pre-line;
}

.pagebutton a:visited {
  color: blue;
  text-decoration: none;
}

.pagebutton a:hover {
  background-color: lightblue;
}

.pagebutton h3 {
  margin-top: 0px;
  padding: 10px;
}

.pagebutton span {
  padding: 10px;
  margin-bottom: 5px;
}
