.page-button-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80vw;
  padding: 10px;
}

/* define stuff for the page button itself */
.pagebutton {
  flex: 1;
  border: solid grey 3px;
  padding: 10px;
  width: 50%;
  min-width: 40%;
  margin-left: 2%;
  margin-bottom: 2%;
}

.pagebutton h3 {
  margin-top: 0px;
}
