.App {
  display: flex;
}

.App-link {
  color: #ffffff
}

a:visited {
  color: rgb(255, 191, 0)
}

.sidebar {
  width: 150px;
  height: 100vh;
  background-color: #777;
  color: white;
  padding: 20px;
}

/* .sidebar ul {
  list-style: none;
  padding: 0;
} */

.sidebar ul li {
  margin-bottom: 10px;
}

.content {
  flex: 1;
  padding: 20px;
}
